canvas {
    cursor: crosshair;
    border: 5px solid whitesmoke;
    margin-bottom: 1px;
} 
#customRange{
    border: 0px;
    padding-bottom: 0px;
}
label{
    font-size: 2em ;
}
img{ 
    max-width: 200px;
    max-height: 100;
}
#Mode {
    font-size: 2em;
    color: white;
    padding-bottom: 0.2em;
}
form {
    width: 35%;
}
#head{
    color: white;
    text-align: center; 
    font-weight: 550;
    font-size: 50px;
    padding-bottom: 1%;
}
#rangeSlider{
    color : white ;  
    font-size: 2em;
}
body{
    background-color: rgb(32, 32, 32);
}
.btn{  
    color: white;
    font-weight: 700; 
    padding-left: 2.5%;
    padding-right: 2.5%; 
    margin-left: 0.5%;
    margin-right: 0.5%;
}